<div class="Add-Question-container">
    <div *ngIf="isEmpty">
        <div class="alert text-red-700 bg-red-100" role="alert">{{Error}}</div>
    </div>
    <div class="Add-Question">
        <b style="margin-left:10px;">Add Question</b>

        <div class="forms-elements">
            <label class="block text-sm mb-1" for="story">Question:</label>
            <textarea #q formcontrolName="que" name="quetion" class="form-input" id="story"
                placeholder="Use this to write your Question" rows="3"></textarea>
        </div>



        <div class="forms-elements">
            <label class="block text-sm mb-1" for="name">Give options with ',' </label>
            <input #opt class="form-input" placeholder="ex: option-1,option-2,option-3" id="name" name="option">
        </div>



        <div class="forms-elements">
            <label class="flex items-center">
                <input #singleChoice type="radio" class="form-radio" name="radio" value="1">
                <span class="ml-2 cursor-pointer">Single Choice Option</span>
            </label>
            <label class="flex items-center">
                <input #multipleChoice type="radio" class="form-radio" name="radio" value="2">
                <span class="ml-2 cursor-pointer">Multiple Choice Option</span>
            </label>
        </div>

        <div class="forms-elements">
            <label class="block text-sm mb-1" for="name">Give Answer with ',' If Multiple Choice</label>
            <input #ans class="form-input" placeholder="ex: answer-1,answer-2,answer-3" id="name">
        </div>



        <div class="forms-elements">
            <label class="block text-sm mb-1" for="color">Select a Subject</label>
            <select class="form-select" id="color">
                <option>Red</option>
                <option>Blue</option>
            </select>
        </div>

        <input type="submit" (click)="validate(q.value,opt.value,singleChoice.value,multipleChoice.value,ans.value)" class="btn btn-primary" value="Submit"
            style="margin-left: 10px;" />
    </div>
</div>