.Quetion-container{
    width: 50%;
    margin: auto;    
}
.Quetion{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 2%;
}
.options{
    
}
.option{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.next-button{
    margin-bottom: 1.5%;
    margin-top: 3%;
    margin-right: 2%;
}